.git
.github
.env
.venv
venv
**/__pycache__
**/*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
data/raw
data/processed
data/warehouse
logs
notebooks
tests
**/.env
**/.env.local
**/.env.*.local
**/node_modules
**/.next
